<template>
    <v-container fluid fill-height>
        <v-layout 
          v-show="!user.loggedIn"
          align-center justify-center text-center
        >
            <v-flex xs12>
                <div id="firebaseui-auth-container"></div>
            </v-flex>
        </v-layout>
        <v-layout v-if="user.loggedIn" align-center text-center>
            <v-flex xs12>
                <p>Hi, {{ user.data.displayName }}!</p>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import firebase from "firebase/app"
import "firebase/analytics"
import "firebase/auth"
import * as firebaseui from 'firebaseui'
import { mapGetters } from "vuex"
export default {
    name: 'Account',
    data: () => ({
        authUI: false,
        authUIConfig: {
            callbacks: {
                signInSuccessWithAuthResult: function() {
                    return false
                }
            },
            signInOptions: [
                firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            ],
            signInFlow: 'popup',
        }
    }),
    computed: {
        ...mapGetters({
            user: "user"
        })
    },
    mounted() {
        this.authUI = firebaseui.auth.AuthUI.getInstance() || new firebaseui.auth.AuthUI(firebase.auth())
        this.startFirebaseUI()
    },
    methods: {
        startFirebaseUI() {
            this.authUI.start('#firebaseui-auth-container', this.authUIConfig);
        },
        signOut() {
            firebase.auth().signOut().then(() => {
                this.startFirebaseUI()
                this.$router.push('/')
            })
        }
    }
}
</script>