<template>
    <v-container>
        <h1>Recipes</h1>
        <v-row dense justify="center">
            <v-col
              v-for="(recipe) in recipes" :key="recipe.id"
              cols="12"
              lg="3"
              md="4"
              sm="6"
            >
                <v-card
                class="mx-auto"
                max-width="400"
                :to="'/recipe/'+recipe.id"
                >
                    <v-img
                    class="white--text align-end"
                    height="200px"
                    :src="recipe.photos[0]"
                    ></v-img>
                    <v-card-title>{{ recipe.name }}</v-card-title>
                    <v-card-subtitle class="pb-0">{{ recipe.createdOn.toDate().toLocaleString() }}</v-card-subtitle>
                    <v-card-subtitle class="pb-0">{{ recipe.description }}</v-card-subtitle>
                    <v-card-subtitle>
                        Servings: {{ recipe.servings }} | Time: {{ recipe.time }}
                    </v-card-subtitle>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
const firebase = require('@/firebaseConfig.js')

export default {
    name: 'ListRecipes',
    data: () => ({
        recipes: []
    }),
    created() {
        let app = this
        firebase.recipesCollection.orderBy('createdOn', 'desc').onSnapshot((querySnapshot) => {
            this.recipes = []
            querySnapshot.forEach(function(doc) {
                let recipe = doc.data()
                recipe.id = doc.id
                app.recipes.push(recipe)
            })
        })
    }
}
</script>
