<template>
    <nav>
        <v-app-bar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        app
        color="teal darken-3"
        dark
        >
        <v-app-bar-nav-icon @click.stop="drawerState = !drawerState"></v-app-bar-nav-icon>
        <v-toolbar-title
            style="width: 300px"
            class="ml-0 pl-4"
        >
            <v-btn icon to='/' active-class='no-active'>
                <v-icon>mdi-home</v-icon>
            </v-btn>
            <span class="hidden-sm-and-down">Cookbook</span>
        </v-toolbar-title>
        <v-text-field
            flat
            solo-inverted
            hide-details
            prepend-inner-icon="mdi-magnify"
            label="Search"
            class="hidden-sm-and-down"
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-btn dark outlined v-if="user.loggedIn" @click="signOut">
            Sign Out
        </v-btn>
        <v-btn icon to='/account' active-class='no-active'>
            <v-icon>mdi-account</v-icon>
        </v-btn>
        </v-app-bar>

        <v-navigation-drawer
        v-model="drawerState"
        :clipped="$vuetify.breakpoint.lgAndUp"
        app
        >
        <v-list dense>
            <template v-for="item in items">
            <v-list-group
                v-if="item.children"
                :key="item.text"
                v-model="item.model"
                :prepend-icon="item.model ? item.icon : item['icon-alt']"
                append-icon=""
            >
                <template v-slot:activator>
                <v-list-item-content>
                    <v-list-item-title>
                    {{ item.text }}
                    </v-list-item-title>
                </v-list-item-content>
                </template>
                <v-list-item
                v-for="(child, i) in item.children"
                :key="i"
                link
                :to="child.route"
                >
                <v-list-item-action 
                    v-if="child.icon">
                    <v-icon>{{ child.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content
                    :to="child.route"
                >
                    <v-list-item-title>
                    {{ child.text }}
                    </v-list-item-title>
                </v-list-item-content>
                </v-list-item>
            </v-list-group>
            <v-list-item
                v-else
                :key="item.text"
                link
                :to="item.route"
            >
                <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                <v-list-item-title>
                    {{ item.text }}
                </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            </template>
        </v-list>
        </v-navigation-drawer>
    </nav>
</template>

<script>
import firebase from "firebase/app"
import { mapGetters } from "vuex"

export default {
    name: 'AppBar',
    computed: {
        drawerState: {
            get() { return this.$store.getters.drawerState },
            set(v) { return this.$store.dispatch('toggleDrawerState', v) }
        },
        ...mapGetters({
            user: "user"
        })
    },
    methods: {
        signOut() {
            firebase.auth().signOut().then(() => {
                this.$router.push('/')
            })
        },
        toggleDrawer() {
            this.$store.dispatch("toggleDrawer")
        }
    },
    data: () => ({
        items: [
            { icon: 'mdi-book-open-variant', text: 'Recipes', route: '/recipes' },
            {
                icon: 'mdi-chevron-up',
                'icon-alt': 'mdi-chevron-down',
                text: 'Genres',
                model: false,
                children: [
                    { text: 'All', route: '/recipes' },
                ],
            },
            { icon: 'mdi-message', text: 'Send feedback', route: '/feedback' },
            { icon: 'mdi-help-circle', text: 'About', route: '/about'},
        ],
    })
}
</script>

<style>
.v-btn--active.no-active::before {                                                                             
  opacity: 0 !important;
}
</style>