<template>
    <v-container>
        <v-dialog
          v-model="dialog"
          width="800px"
        >
        <v-card>
            <v-card-title class="teal darken-3 white--text">
                New Recipe
            </v-card-title>
            <v-container>
              <v-row class="mx-2">
                <v-card-subtitle class="pb-0">Details</v-card-subtitle>
              </v-row>
              <v-row class="mx-2">
                <v-col class="align-center justify-space-between" cols="12">
                  <v-text-field 
                    v-model="recipe.name" 
                    label="Name" 
                    prepend-icon="mdi-clipboard-text-outline"
                    dense 
                    outlined></v-text-field>
                </v-col>
                <v-col class="align-center justify-space-between" cols="12">
                  <v-text-field 
                    v-model="recipe.description" 
                    label="Description" 
                    prepend-icon="mdi-card-text-outline"
                    dense 
                    outlined></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-file-input 
                    v-model="recipe.photos"
                    dense 
                    outlined 
                    small-chips 
                    multiple 
                    label="Photos"></v-file-input>
                </v-col>
                <v-col cols="4">
                  <v-text-field 
                    v-model.number="recipe.servings" 
                    label="Servings" 
                    type="number" 
                    prepend-icon="mdi-numeric"
                    dense 
                    outlined></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field 
                    v-model.number="recipe.time" 
                    label="Time" 
                    type="number" 
                    prepend-icon="mdi-clock-outline"
                    suffix="hr"
                    dense 
                    outlined></v-text-field>
                </v-col>
              </v-row>
              <v-row class="mx-2">
                <v-card-subtitle class="pb-0">Ingredients</v-card-subtitle>
              </v-row>
              <v-row v-for="(ingredient, index) in recipe.ingredients" :key="'ingredient-'+index" class="mx-2">
                <v-col cols="3">
                  <v-text-field 
                    @input="ingredientChange(index)"
                    @click:prepend="deleteIngredient(index)" 
                    prepend-icon="mdi-delete" 
                    v-model.number="ingredient.amount" 
                    label="Amount"
                    type="number"
                    dense
                    outlined></v-text-field>
                </v-col>
                <v-col cols="2">
                  <v-text-field 
                    @input="ingredientChange(index)"
                    v-model="ingredient.unit" 
                    label="Unit"
                    dense
                    outlined></v-text-field>
                </v-col>
                <v-col cols="7">
                  <v-text-field 
                    @input="ingredientChange(index)"
                    v-model="ingredient.description" 
                    label="Description"
                    dense
                    outlined></v-text-field>
                </v-col>
              </v-row>
              <v-row class="mx-2">
                <v-card-subtitle class="pb-0">Steps</v-card-subtitle>
              </v-row>
              <v-row v-for="(step, index) in recipe.steps" :key="'step-'+index" class="mx-2">
                <v-col align="center" class="pt-5" cols="1">
                  {{ index + 1 }}. 
                </v-col>
                <v-col align-self="center" cols="7">
                  <v-textarea 
                    auto-grow
                    rows="1"
                    @input="stepChange(index)"
                    @click:prepend="deleteStep(index)" 
                    prepend-icon="mdi-delete"
                    v-model="step.direction" 
                    label="Directions"
                    dense
                    outlined></v-textarea>
                </v-col>
                <v-col align-self="center" cols="4">
                  <v-file-input 
                    v-model="step.photos" 
                    label="Photos"
                    small-chips 
                    multiple
                    dense
                    outlined></v-file-input>
                </v-col>
              </v-row>
            </v-container>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    text
                    color="primary"
                    @click="dialog = false"
                >Cancel</v-btn>
                <v-btn
                    text
                    @click="addRecipe"
                >Save</v-btn>
            </v-card-actions>
        </v-card>
        </v-dialog>
        <v-btn
          bottom
          color="teal darken-3"
          dark
          fab
          fixed
          right
          @click="dialog = !dialog"
          v-if="user.loggedIn"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
const firebase = require('@/firebaseConfig.js')

export default {
    name: 'NewRecipe',
    data: () => ({
        dialog: false,
        recipe: {
            name: '',
            description: '',
            servings: null,
            time: null,
            photos: null,
            ingredients: [{ amount: null, unit: null, description: null }],
            steps: [{ direction: null, photos: null }]
        }
    }),
    computed: {
        user() { return this.$store.getters.user }
    },
    methods: {
        deleteIngredient(index) {
            if (this.recipe.ingredients.length == 1) return
            this.recipe.ingredients.splice(index, 1)
        },
        ingredientChange(index) {
            let lastIngredient = this.recipe.ingredients[this.recipe.ingredients.length-1]
            if ((lastIngredient.amount != null) || (lastIngredient.unit != null) || (lastIngredient.description != null)) {
                this.recipe.ingredients.push({ amount: null, unit: null, description: null })
            }
            let ingredient = this.recipe.ingredients[index]
            if (!ingredient.amount && !ingredient.unit && !ingredient.description) {
                this.deleteIngredient(index)
            }
        },
        stepChange(index) {
            let lastStep = this.recipe.steps[this.recipe.steps.length-1]
            if (lastStep.direction != null || lastStep.photos != null) {
                this.recipe.steps.push({ direction: null })
            }
            let step = this.recipe.steps[index]
            if (!step.direction && !step.photos) {
                this.deleteStep(index)
            }
        },
        deleteStep(index) {
            if (this.recipe.steps.length == 1) return
            this.recipe.steps.splice(index, 1)
        },
        addRecipe() {
            var recipe = JSON.parse(JSON.stringify(this.recipe))
            var photosToUpload = []

            if (this.recipe.photos) {
                for (var i in this.recipe.photos) {
                    photosToUpload.push({
                        file: this.recipe.photos[i],
                        number: i,
                        type: 'recipe'
                    })
                }
            }
            for (var n in this.recipe.steps) {
                if (this.recipe.steps[n].photos) {
                    for (var m in this.recipe.steps[n].photos) {
                        photosToUpload.push({
                            file: this.recipe.steps[n].photos[m],
                            number: m,
                            type: 'step',
                            step: n
                        })
                    }
                }
            }

            for (var photo of photosToUpload) {
                var basename = ''
                if (photo.type == 'recipe') {
                    basename = `recipe-photo-${photo.number}`
                }
                else {
                    basename = `step-${photo.step}-photo-${photo.number}`
                }
                this.uploadFile(photo, basename, recipe)
            }
            recipe.ingredients.splice(recipe.ingredients.length-1, 1)
            recipe.steps.splice(recipe.steps.length-1, 1)
            recipe.createdOn = new Date()
            recipe.owner = this.user.data.uid
            recipe.ownerName = this.user.data.displayName
            this.pollForCompleteUploads(photosToUpload, () => {
                firebase.recipesCollection.add(recipe)
                this.dialog = false
            })
        },
        pollForCompleteUploads(photosToUpload, callback) {
            var complete = true
            for (var photo of photosToUpload) {
                if (!photo.complete) {
                    complete = false
                    break
                }
            }
            if (complete) {
                callback()
            }
            else {
                setTimeout(() => { 
                    this.pollForCompleteUploads(photosToUpload, callback) 
                }, 1000)
            }
        },
        uploadFile(photo, basename, recipe) {
            var file = photo.file
            var ext = file.name.split('.')
            ext = ext[ext.length-1]
            var filename = `${new Date().toISOString()}-${basename}.${ext}`
            var storageRef = firebase.storage.ref()
            var fileRef = storageRef.child(filename)
            return fileRef.put(file).then(snapshot => {
                snapshot.ref.getDownloadURL().then((url) => {
                    if (photo.type == 'recipe') {
                        recipe.photos[photo.number] = url
                    }
                    else {
                        recipe.steps[photo.step].photos[photo.number] = url
                    }
                })
                photo.complete = true
            })
            
        }
    }
}
</script>

<style>

</style>