<template>
    <v-container v-if="recipe != null">
        <v-row>
            <v-col cols="1">
                <v-btn icon to='/recipes' active-class='no-active'>
                    <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
            </v-col>
            <v-col cols="11">
                <h1>{{ recipe.name }}</h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <p>
                  <b>By:</b> {{ recipe.ownerName }} | 
                  <b>Created:</b> {{ recipe.createdOn.toDate().toLocaleString() }} | 
                  <b>Time:</b> {{ recipe.time }} hr </p>
                <p><b>Description:</b> {{ recipe.description }}</p>
            </v-col>
        </v-row>
        <v-row v-if="recipe.photos && recipe.photos.length">
            <v-col cols="12">
                <h1>Photos</h1>
                <v-carousel
                    cycle
                    height="400"
                    hide-delimiter-background
                    show-arrows-on-hover
                >
                    <v-carousel-item
                      v-for="(photo, i) in recipe.photos"
                      :key="'photo-'+i"
                      :src="photo"
                    >
                    </v-carousel-item>
                </v-carousel>
            </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
            <v-col justify="center" align="start" cols="6">
                <h1>Ingredients</h1>
            </v-col>
            <v-col justify="center" align="start" cols="6">
                <v-text-field 
                    class="text-input"
                    dense 
                    outlined 
                    label="Servings" 
                    width="150px"
                    v-model.number="desiredServings"
                    prepend-icon="mdi-minus"
                    append-outer-icon="mdi-plus"
                    @click:prepend="desiredServings = Math.max(1, desiredServings - 1)"
                    @click:append-outer="desiredServings += 1"
                    min="1"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-list-item
                v-for="(ingredient, i) in recipe.ingredients"
                :key="'ingredient-'+i"
                >
                    <v-list-item-content>
                        {{ numStr(ingredient.amount * desiredServings/recipe.servings) }} {{ ingredient.unit }} {{ ingredient.description }}
                    </v-list-item-content>
                </v-list-item>
            </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
            <v-col>
                <h1>Steps</h1>
                <v-list-item
                v-for="(step, i) in recipe.steps"
                :key="'step-'+i"
                >
                    <v-list-item-content>{{ i+1 }}. {{ step.direction }}</v-list-item-content>
                    <v-carousel v-if="step.photos"
                        height="200"
                        hide-delimiter-background
                        show-arrows-on-hover
                    >
                        <v-carousel-item
                            v-for="(photo, n) in step.photos"
                            :key="'step-photo-'+n"
                            :src="photo"
                        >
                        </v-carousel-item>
                    </v-carousel>
                </v-list-item>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
const firebase = require('@/firebaseConfig.js')

export default {
    name: 'Recipe',
    data: () => ({
        recipe: null,
        desiredServings: null,
    }),
    computed: {
        user() { return this.$store.getters.user },
        recipeId() { return this.$route.params.id }
    },
    created() {
        firebase.recipesCollection.doc(this.recipeId).get().then((doc) => {
            if (doc.exists) {
                this.recipe = doc.data()
                this.desiredServings = this.recipe.servings
            } else {
                console.log("No such document!")
            }
        })
    },
    methods: {
        numStr(num) {
            if (Math.abs(Math.round(num) - num) < 1e-3) {
                return num
            }
            else {
                return num.toFixed(2)
            }
        }
    }
}
</script>

<style scoped>
.text-input {
    width: 150px;
}

.text-input >>> input {
    text-align: center;
}
</style>