<template>
  <v-app id="cookbook-webapp">
    <Nav></Nav>
    <v-content>
      <router-view></router-view>
    </v-content>
    <NewRecipe></NewRecipe>
  </v-app>
</template>

<script>
  import Nav from '@/components/Nav'
  import NewRecipe from '@/components/NewRecipe'
  export default {
    components: {
      Nav,
      NewRecipe
    }
  }
</script>